:root{
    --primary-color: #e0c521;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 250px;
    /*border: 2px solid var(--primary-color);*/
    border: 2px solid #e0c521;
    padding: 0.5rem 0.3rem;
    margin: 13px 10px;
    position: relative;
    border-radius: 5px;
}

.card_title{
    font-weight: 400;
    text-align: center;
}

.card_title.card_price{
    font-weight: bold;
}

.image_container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.image_container img {
    width: 100%;
    object-fit: cover;
}

.btn_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card_price{
    text-align: center;
    display: inline-block;
}

.card_badge{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(227, 112, 30);
    border-radius: 50%;
    transform: translate(20px, -20px) scale(1);
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgba(227, 112, 30);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    animation:  scaleAnimation 1s ease infinite;
}

@keyframes scaleAnimation {
    to {
        transform: translate(20px, -20px ) scale(1.05);
        opacity: 1;
    }
}

.card_badge_hidden  {
    display: none;
}





